<div class="modal" id="#modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <!-- Any other Bulma elements you want -->
        <div class="container has-text-centered">
            <p class="title">{{ title }}</p>

            <form action=""method="PUT">

                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="age">
                                {% for option in form.age.options %}
                                <option>{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="race">
                                {% for option in form.race.options %}
                                <option>{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="gender">
                                {% for option in form.gender.options %}
                                <option>{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="orientation">
                                {% for option in form.gender.options %}
                                <option>{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        {% for option in form.condition.options %}
                        <label class="radio">
                            <input type="radio" name="answer">
                            {{ option }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
