@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans&display=swap');

$purple: #8C00B6;
$purple-2: #BD00ED;
$purple-3: #D855FF;
$purple-4: #D584FF;
$purple-5: #E7BAFF;
$purple-6: #2E0041;

$primary: $purple-6;

$family-sans-serif: 'Open Sans', sans-serif;

.gradient {
    background-image: linear-gradient(to bottom right, $purple-4, $purple);
}

.gradient-dark {
    background-image: linear-gradient($purple, $purple-6);
}

.title {
    font-family: 'Dosis', sans-serif;
    padding-bottom: 0px;
}

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~bulma-divider/src/sass/index.sass";
