<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to Mindful.</title>
  </head>
  <body>
    <span class="preheader">Follow the link below to confirm your email.</span>
    <p>
      Hello, and welcome to Mindful! In order to finalize your account, please follow the link below to
      confirm your account and get to working on yourself!

      <a href="{{confirmation_uri}}?token={{ token }}">Click here to validate!</a>

      Again welcome. We are excited you're taking this journey with us!

      <b>- The Mindful. Team</b>
    </p>
  </body>
</html>