.box {
  border-radius: 8px;
  min-height: 300px;
  box-shadow: 2px 2px 4px #000000;
}

#boxtitle {
  border-width: 0px 2px 0px 0px;
}

#submit-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#next:hover {
  color: #8C00B6;
}