<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Mindful</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bulma/css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/styles.css') }}">

    <script scr="{{ url_for ('static', filename='node_modules/bulma-extensions/dist/js/bulma-extensions.js') }}"></script>
    <script src="https://kit.fontawesome.com/903fda6f8c.js" crossorigin="anonymous"></script>
</head>
