{% extends 'base.html' %}

{% block content %}
<section class="hero is-fullheight gradient">
    <div class="container has-text-centered">
        <div class ="panel is-primary">

                {% if title %}
                <div class="panel-heading">
                    {{ title }}
                </div>
                {% endif %}

                <div class="container has-text-left" id="form">
                    <form action="{{ url_for('auth.register') }}" method="POST">

                        <div class="field is-grouped">

                            <!-- == First Name == -->
                            <div class="control">
                                <label class="label">
                                    {{ form.first.label }}
                                </label>
                                <input class="input"
                                       type="text"
                                       placeholder="First Name"
                                       name="first">
                            </div>
                            <!-- == Last Name ==  -->
                            <div class="control">
                                <label class="label">
                                    {{ form.last.label }}
                                </label>
                                <input class="input"
                                       type="text"
                                       placeholder="Last Name"
                                       name="last">
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="field">
                            <label class="label">{{ form.email.label }}</label>
                            <div class="control">
                                <input class="input"
                                       type="email"
                                       placeholder="Email"
                                       name="email">
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="field">
                            <label class="label">
                                {{ form.password.label }}
                            </label>
                            <div class="control">
                                <input class="input"
                                       type="password"
                                       name="password">
                            </div>
                        </div>

                        <!-- Confirm Password -->
                        <div class="field">
                            <label class="label">
                                {{ form.password2.label }}
                            </label>
                            <div class="control">
                                <input class="input"
                                       type="password"
                                       name="password2">
                            </div>
                        </div>

                        <div class="container has-text-centered">
                            <div class="control">
                                <button class="button" name="google_login" href="{{ url_for( 'auth.oauth_authorize', provider='google' ) }}">Google</button>
                                <button class="button" type ="submit" name="submit">
                                    {{ form.submit.label }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}
