{% extends 'base.html' %}

{% block content %}
<section class="hero is-fullheight gradient">
    <div class="container has-text-centered">
        <div class="panel is-primary">

            {% if title %}
            <div class="panel-heading">
                {{ title }}
            </div>
            {% endif %}

            <div class="container has-text-left" id="form">
                <form action="{{ url_for('auth.reset_password_request') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <!-- Email -->
                    <div class="field">
                         <label class="label">
                            {{ form.email.label}}
                        </label>
                        <div class="control has-icons-left">
                            <input class="input has-icons-left"
                                   type="text"
                                   placeholder=""
                                   name="email"
                                   size=64>
                            {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Submit -->
                    <div class="container has-text-centered">
                        <div class="field">
                            <div class="control">
                                <div class="buttons">
                                    <p>
                                        {{ form.submit(class="button is-primary",type="submit") }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
