{% extends 'base.html' %}

{% block content %}
<section class="hero is-fullheight gradient">
    <div class="container has-text-centered">
        <div class="panel is-primary">

            {% if title %}
            <div class="panel-heading">
                {{ title }}
            </div>
            {% endif %}

            <div class="container has-text-left" id="form">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}

                    <!-- Password -->
                    <div class="field">
                        <label class="label">
                            {{ form.password.label }}
                        </label>
                        <div class="control">
                            <input class="input"
                                   type="password"
                                   name="password"
                                   size=32>
                            {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Confirm Password -->
                    <div class="field">
                        <label class="label">
                            {{ form.password2.label }}
                        </label>
                        <div class="control">
                            <input class="input"
                                   type="password"
                                   name="password2"
                                   size=32>
                            {% for error in form.password2.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Submit -->
                    <div class="container has-text-centered">
                        <div class="field">
                            <div class="control">
                                <div class="buttons">
                                    <p>
                                        {{ form.submit(class="button is-primary",type="submit") }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}






