<! DOCTYPE html>
<html>

    {% include 'partials/_head.html' %}

    <body class="has-navbar-fixed-top gradient">

        {% if nav %}
        <header>
            {% include 'partials/_nav.html' %}
        </header>
        {% endif %}

        {% block notifications %}
        <div class="container has-text-centered">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="notification is-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        {% endblock%}

        {% block content %}{% endblock %}

        {% if footer %}
        {% include 'partials/_footer.html' %}
        {% endif %}

    </body>
</html>
